body {
    margin: 0;
}

header{
    padding: 20px 10px;
    background: linear-gradient(to right, #6d0b0b, #d6621c);
    color: #ffffff;
}

header img{
    width: 7%;
  }

.header-titulo{
    color: white;
    padding: 12px;
    text-decoration: none;
    font-family: 'DM Serif Display', serif;
}
 
.header-subtitulo{
    font-size: 16px;
}

.header-direito{
  float: right;
    
}



