body {
    padding: 0;
    background-color: #EBECF0;
    margin: 0;
    width: auto;
    overflow-x: hidden;
    /* impede a barra de rolar na horizontal */
}

#imagem_fundo{
   width: 100vw;
   height: 200vw;
 
}
