body{
    background-image: url("/Pages/img/Ambulancia-Bombeiros-17-730x548.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}
.fundo{
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
   
}

*{
    margin: 0; 
    
}

.Caixa-transparente {
  
    width: 380px;
    height: 220px;
    background: linear-gradient(to bottom, rgba(30, 25, 59, 0.781), rgba(27, 14, 141, 0.705), rgba(44, 41, 71, 0.7));
    display: flex;
    align-items: center;
    justify-content: center;  
  
}
.login img {
    width: 110%;
    height: 68%;
    align-items: center;
} 
 
.boneco-login{
    /* display: flex; */
    width: 28%;
    /* justify-content: center; */
  
}
 
.cadastro img {
    width: 110%;
    height: 90%;
    align-items: center;
} 
 
.boneco-cadastro{
    /* display: flex; */
    width: 29%;
    /* justify-content: center; */
  
}
h1{
    font-size:larger;
    text-align: center;
    color:white;
}

a {
    text-decoration: none;
}
