.fundo{
    background-image: url("/Pages/img/Ambulancia-Bombeiros-17-730x548.jpeg");
    /* filter: blur(4px); desfoca a imagem de fundo mas deixei comentado porque ta deixando o form desfocado tambem e não sei como arrumar */
  
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*{
    margin: 0; 
    
}

.h1{
    margin: 0;
}


form{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:bisque;
}
