* {
    margin: 0;
    
  }
  
header {
    padding: 20px 10px;
    background: linear-gradient(to right, #6d0b0b, #d6621c);
    color: #ffffff;
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    
  }
  
header img {
    /* border: 1px solid black; */
    width: 100%;
    max-width: 120px;
    max-height: auto;
    align-self: center;
  }
  
  
.sigla {
     border: 1px solid black; 
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    font-family: 'Fjalla One', sans-serif;
  }
  
  
 #fundo{
    background-color: #F6F3F2;
    margin-top: 15%;
} 
  
form{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(0, 0, 0);
    /* font-size: 14px ; */
    margin-top: 200px;
    
}

form > input{
  color: rgb(0, 0, 0);
  background-color: rgb(199, 199, 199);
  border-radius: 5px;
  border-color:  rgb(85, 79, 79);
  border: rgb(85, 79, 79) ;
  height: 20px;
  font-size: 14px;
}

 h2{
  font-size:larger;
  text-align: center;
  color:rgb(82, 76, 76);
 }