* {
  margin: 0;
  
}

header {
  padding: 20px 10px;
  background: linear-gradient(to right, #6d0b0b, #d6621c);
  color: #ffffff;
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

header img {
  border: 1px solid black;
  width: 100%;
  max-width: 120px;
  max-height: auto;
  align-self: center;
}

.sigla {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  font-family: 'Fjalla One', sans-serif;
}

.header-direito {
  display: flex;
  width: 50%;
  border: 1px solid black;
  float: right;
  justify-content: space-around;
  align-self: center;
}

.login img{
  width: 60%;
  height: auto;
  align-self: center;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.678);
  overflow-y: hidden;
  transition: 0.5s;
  margin: 0 auto;
}



.overlay-content {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
  position: fixed;
  top: 25%;
 
}
.total{
  position: fixed;
}

.progress-bar {
  height: 8px;
  background: #04AA6D;
  width: 0%;
  position: fixed;
}

.faixa-titulo{
  background-color: #CBCDC9;
  border: 1px solid black;
  height: 40px;
  margin-top: 15%;
  font-family: 'Rubik', sans-serif;
  font-weight: 800;
  display: flex;
  align-items: center; 
  justify-content: center;
}

.fundo {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.ficha{
  border: 1px solid black;
  justify-content: center;
  width: 70%;
}

.ident-data{
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin-bottom: 10px;
}

#info-paciente, #info-acompanhante{
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.subtitulo{
  display: flex;
  align-self: center;
  margin-top: 10px;
  font-family: 'Rubik', sans-serif;
  font-weight: 750;
}

input{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
}


.linhas{
  background-color: #DFDEDE;
  margin-top: 15px;
  padding: 8px;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  border-radius: 5px;
}



input[type="checkbox"] {
  appearance: none;
  background: url(/Pages/img/checkbox.png) no-repeat;
  width: 20px;
  height: 20px;
}
 
input[type="checkbox"]:checked {
  background: url(checkmark-selected.svg) no-repeat;
}
