body { /*Corpo da página*/
  margin: 0; 
}

  .navbar{ /*navbar menu*/
    background: linear-gradient(to right, #6d0b0b, #d6621c);
  }
  
header { /*parte de cima da página*/
  color: #ffffff;
  border: 1px solid black; 
  height: 2em;
  
}

header img {
  border: 1px solid black;
  width: 100%;
  max-width: 150px;
  max-height: auto;
  align-self: center;
}

.selecao{
  background-color:#DFDEDE;
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 12px;
  cursor: pointer;
  
}

.selecao input{
 position: absolute;
 opacity: 0;
 cursor: pointer;
}

.check{
  left:0;
  top:0;
  width: 25px;
  height: 25px;
  background-color:white ;
  border: 3px solid #000;
  border-radius: 2px;
  position: absolute;
}

.selecao input:checked ~ .check {
  background-color: white;
}

.selecao .check:after{
  /* top:0;
  left: 9px;
  width: 5px;
  height: 10px;
  
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); */
  font-weight:bolder;
  content: '\2573'; /* Código Unicode para o caractere 'X' */
  font-size: 15px;
  color: #c00b0b;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.check:after{
  content:"";
  position: absolute;
  display:none;

}

.selecao input:checked~.check:after{
  display:block;
}

/*
.selecao input + label::before{
  content: '';
  width: ;
  height: 108px;
  border-radius: 2px;
  background-color:white;
  border:2px solid black;
  vertical-align: middle;
  margin-right: 8px;

} */


/* @media screen and (max-width: 700px) {
  header img {
    border: 1px solid black;
    width: 100%;
    max-width: 90px;
    max-height: auto;
    align-self: center;
  }
} */

/* .sigla {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
} */

header h1{
  font-family: 'Fjalla One', sans-serif;
  font-weight: 600;
  font-size: large;
}


header h3{
  font-family: 'Fjalla One', sans-serif;
  font-weight: 600;
  font-size: medium;
}

@media screen and (max-width: 700px) {
  header h3 {
      font-size: 9px;
  }
}
.header-direito {
  display: flex;
  width: 40%;
  border: 1px solid black;
  float: right;
  justify-content: space-around;
  align-self: center;
  align-items: center;
}

.login img{
  width: 60%;
  height: auto;
  align-self: center;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.678);
  overflow-y: hidden;
  transition: 0.5s;
  margin: 0 auto;
}

.overlay-content {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

#fundo{
  background-color:#F6F3F2;
  padding-top: 9em;
}

.faixa{
  
}
.faixa-titulo{
  background-color: #CBCDC9;
  /* border: 1px solid black; */
  font-family: 'Rubik', sans-serif;
  font-weight:bold;
}


form{
  margin-top: 30px;
}

.subtitulo{
  display: flex;
  align-self: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 750;
}

input{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
}

/* 
.linhas{
  background-color: #DFDEDE;
  margin-top: 15px;
  padding: 8px;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  border-radius: 5px;
} 

.ficha{
  margin-bottom: 2em;
  width: 70%;
}

.linhas-escondidas{
  display: flex;
  flex-direction: column;
}

.linha-coluna{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.colunas{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */
